* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.background {
    height: 300px;
    width: 1300px;
    /* this is background image for your design  */
    /* background-image: url('https://media-private.canva.com/QBd3A/MAFGDpQBd3A/1/s.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20220818%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220818T131030Z&X-Amz-Expires=28697&X-Amz-Signature=8a66a5b2d2e7be58a80ac4cb6b85f8e6d8f93ce267f517dff1b8f173752df75d&X-Amz-SignedHeaders=host&response-expires=Thu%2C%2018%20Aug%202022%2021%3A08%3A47%20GMT'); */
    background: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-components {
    display: flex;
    align-items: center;
}
.mail-area{
margin-top: 40px;
margin-left: 36px;
width: 460px;
}

.name {
    font-size: 35px;
    line-height: 0px;
    font-weight: 500;
    margin: 0px;
}

.job-title {
    font-size: 30px;
    color: #2ebfca;
}
.mail-and-web-area{
    margin-top: 40px;
}
.mail-and-web-area > p{
line-height: 10px;
}

.mail-text{
    font-size: 22px;
    font-weight: 500;
}

.web-address >a{
    font-size: 18px;
    color: #2dbcc8;
    font-weight: 500;
}


/* movement group area style  */
.movement-group-section{
    display: flex;
    font-size: 20px;
    height: 130px;
    width: 500px;
    margin-top: 115px;
}
.border{
       height: 105px;
       background-color: #fff;
       width: 3px;
       margin-top: 5px;
}


.movement-group-section > p{
margin-left: 50px;
font-size: 25px;
margin-top: 0px;
padding-top: 0px;
font-weight: 500;
line-height: 35px;
}

.mail-area-image >img{
    width: 250px;
    margin-top: 70px;
}